*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

p {
    font-size: 17px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 20px;
}

.top{
    width: 100%;
    overflow: hidden;

    margin-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #313153;

    border-bottom: thin solid #fefef5;
    box-sizing: border-box;

    box-shadow: 0 0 5px #fdc25a;

    background-image: url("../image/event/bg_neon.webp");
    background-size: cover;
}

.top h2{
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
}

.top .second-nav{
    margin: 4% 0;
    width: 73%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.top .second-nav-box{
    width: 30%;

    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    border: medium solid #000000;

    box-shadow: 5px 5px 0;
}

.top .second-nav-box a{
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;

    text-decoration: none;
    color: #000000;
}

#theme{
    background-color: #313153;
    overflow: hidden;

    padding: 5% 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#theme h2, #theme h3, #theme p{
    color: #ffffff;
}

#theme img{
    width: auto;
    height: 30vw;
    margin: -2% 0;
}

#date{
    width: 100%;

    background-color: #fdc25a;

    overflow: hidden;
}

#date p{
    margin: 8% 0;
    font-weight: bold;
}

#access{
    background-color: #313153;
    overflow: hidden;

    padding: 0 15%;
}

#access h2, #access h3{
    text-align: left;
    color: #ffffff;
}

.map{
    margin-top: 10%;
}
.map-img{
    width: 100%;
    height: auto;
}

.bus{
    margin-top: 10%;
}
.bus-img{
    width: 100%;
    height: auto;
}

.subway{
    margin: 10% 0;
}
.subway-img{
    width: 100%;
    height: auto;
}

#sns{
    background-color: #313153;

    overflow: hidden;
}

#sns .contents{
    margin: 20% 0;

    padding: 0 15%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sns p{
    color: #ffffff;
}

#sns hr{
    width: 10%;
}

#sns .sns-logo{
    width: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sns .sns-logo img{
    height: 2rem;
}

footer{
    background-color: #677156;

    overflow: hidden;
}
footer p{
    color: #ffffff;
}

footer .contents{
    margin: 10% 0;

}



@media screen and (max-width:480px){
p {
    font-size: 16px;
}

h2{
    font-size: 23px;
}

.top .second-nav{
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    row-gap: 10px;
}

.top .second-nav-box{
    width: 40%;
}

#theme img{
    width: 100%;
    height: auto;
}
#access{
    padding: 0 5%;
}
#sns .contents{
    padding: 0 5%;
}
#sns .sns-logo img{
    height: 1.5rem;
}
}