a{
    text-decoration: none;
    color: #000000;
}
.top{
    width: 100%;
    overflow: hidden;

    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #313153;

    border-bottom: thin solid #fefef5;
    box-sizing: border-box;

    box-shadow: 0 0 5px #fdc25a;

    background-image: url("../image/common/bg_neon.webp");
    background-size: cover;
}

.top h2{
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
}

.top .second-nav{
    margin: 4% 0;
    width: 95%;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.top .second-nav a{
    width: 30%;
}
.top .second-nav-box{
    width: 100%;

    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    border: medium solid #000000;

    box-shadow: 5px 5px 0 #000000;

    /* padding: 0.5rem; */
}

.second-nav a:last-child .second-nav-box{
    background-color: #fdc25a;
}

.goods{
    padding: 10% 7%;

    background-color: #313153;
}

.goods h2{
    color: #ffffff;
}

.goods .contents{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-top: 5%;

    gap: 40px;
}

.goods .contents::after{
    content: "";
    display: block;
    width: 29%;
}

.area{
    width: 29%;
    /* ↓仮 */
    height: auto;
}

.area p{
    text-align: left;
    color: #ffffff;
}

.area p span{
    font-weight: bold;
}

.goods-container{
    width: 100%;
    aspect-ratio: 1;

    background-image: url("../image/goods/goods.png");
    background-size: cover;
}

@media screen and (max-width: 768px) {
.goods .contents{
    gap: 30px;
}
.area{
    width: 45%;
}
.top{
    margin-top: 70px;
}
}

@media screen and (max-width:480px){
p {
    font-size: 16px;
}

h2{
    font-size: 23px;
}
.area{
    width: 100%;
}
}
  