.first-view {
  margin-top: 4%;
  position: absolute;
}

.top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark_purple);
  padding-top: 80px;
  height: calc(100vh + 5px);
}

.top-img {
  width: 60vw;
  aspect-ratio: 1/1;
  transform: translate(0 80px);
}

@media screen and (max-width: 768px) {
  .first-view{
    margin-top: -70px;
  }
  .top-logo {
    padding-top: 70px;
  }
  .top-img {
    width: 100vw;
    aspect-ratio: 1;
    margin-top: -70px;
  }
}

/*about部分  */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}
.about_bg_text {
  width: 100%;
  /* height: 100vh; */
  padding: 10% 0;
  background-color: black;
  background-image: url("../image/common/bg_neon.webp");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-top: thin solid #fefef5;

  box-shadow: 0 0 5px #fdc25a;
}
.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-title p,
.about-title h2 {
  color: white;
  text-shadow: 0px 0px 9px rgba(247, 237, 18, 0.5);
  margin: 0;
}
.about-title p {
  font-size: 20px;
}
.about-title h2 {
  font-size: 30px;
}
.about-text p {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 250%;
}
@media screen and (max-width: 768px) {
  .about_bg_text {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .about-title p {
    font-size: 18px;
  }
  .about-title h2 {
    font-size: 38px;
  }
  .about-text p {
    font-size: 15px;
  }
}

/* indexs部分 */
.indexs {
  /* height: 100vh; */
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexs-and-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 160px;
  padding: 200px 0;
  width: 830px;
  /* background-color: blue; */
}
.index-list {
  /* background-color: white; */
  /* height: 900px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
}

.index-list a{
  display: block;
text-decoration: none;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

  gap: 10px;
}
.index-theme,
.index-access,
.index-cm,
.index-goods {
  background-color: black;
  width: 45%;
  aspect-ratio: 2.7/1;
  color: white;
}
.index-stage,
.index-cafe,
.index-workshop,
.index-booth {
  background-color: black;
  width: 30%;
  aspect-ratio: 1/1;
  color: white;
}
.index-game {
  background-color: black;
  width: 535px;
  aspect-ratio: 4.6/1;
  color: white;
}

.index-theme{
  background-image: url("../image/index/theme_button_bg.webp");
  background-size: cover;
  background-position: left;
}

.indexs-and-sns p{
  font-family: "normalfont1";
}

.index-access{
  background-image: url("../image/index/access_button_bg.webp");
  background-size: cover;
  background-position: center;
}

.index-stage{
  background-image: url("../image/index/stage_button_bg.webp");
  background-size: cover;
  background-position: left;
}

.index-cafe{
  background-image: url("../image/index/cafe_button_bg.webp");
  background-size: cover;
  background-position: left;
}

.index-workshop{
  background-image: url("../image/index/ws_button_bg.webp");
  background-size: cover;
  background-position: left;

}

.index-booth{
  background-image: url("../image/index/booth_button_bg.webp");
  background-size: cover;
  background-position: right;
}

.index-game{
  background-color: #888;
  background-size: cover;
  background-position: left;
}

.index-cm{
  background-image: url("../image/index/cm_button_bg.webp");
  background-size: cover;
  background-position: left;
}

.index-goods{
  background-color: #888;
  background-size: cover;
  background-position: left;
}




@media screen and (max-width: 896px) {
  .indexs-and-sns {
    width: 90%;
    padding: 50px 0;
    gap: 60px;
  }
  .index-list {
    gap: 20px 5px;
  }
  .index-list a img{
    width:2rem;
  }
  .index-theme,
  .index-access,
  .index-cm,
  .index-goods,
  .index-game {
    width: 100%;
    aspect-ratio: 2.7/1;
  }
  .index-stage,
  .index-cafe,
  .index-workshop,
  .index-booth {
    width: 47%;
  }
}

/* follow-us部分 */
/* .follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: #ffffff;
}

.follow-us p {
  font-size: 23px;
  text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.center-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.center-bar span {
  width: 250px;
  height: 1px;
  background-color: #ffffff;
}

.sns-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.sns-imgs img {
  width: 45px;
  height: 45px;

  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
} */


#sns{
  width: 100%;

  overflow: hidden;
}

#sns .contents{
  margin: 20% 0;

  padding: 0 15%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sns p{
  color: #ffffff;
  font-size: 24px;
  text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

#sns hr{
  width: 20%;
  border-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

#sns .sns-logo{
  width: 30%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#sns .sns-logo img{
  height: 2.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

@media screen and (max-width: 480px) {
#sns .contents{
  padding: 0 5%;
}
#sns p{
  color: #ffffff;
  font-size: 17px;
}
#sns .sns-logo{
  gap: 20px;
}
#sns .sns-logo img{
  height: 1.5rem;
}
}
